@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

#root {
  /* breakpoints */
  --mobile: 375px;
  --desktop: 1400px;

  /* primary colors */
  --moderate-blue: #5457b6;
  --soft-red: #ed6468;
  --light-grayish-blue: #c3c4ef;
  --pale-red: #ffb8bb;

  /* secondary colors */
  --dark-blue: #324152;
  --grayish-blue: #67727e;
  --light-gray: #eaecf1;
  --very-light-gray: #f5f6fa;
  --white: #ffffff;

  /* font sizes */
  --paragraph: 16px;

  /* font weights */
  --regular: 400;
  --medium: 500;
  --bold: 700;

  height: 100vh;
  background-color: var(--very-light-gray);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  height: 100vh;
}

button {
  cursor: pointer;
  border: none;
  padding: 8px;
}

ul {
  list-style-type: none;
}

.p-0 {
  padding: 0;
}

.p-24 {
  padding: 24px;
}

.br-12 {
  border-radius: 12px;
}

.main-btn {
  background-color: var(--moderate-blue);
  color: var(--white);
  border-radius: 8px;
  padding: 12px 30px;
  font-weight: var(--bold);
  text-transform: uppercase;
}

.secondary-btn {
  background-color: transparent;
}

.main-btn:active,
.reply-btn:active {
  opacity: 0.2;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment,
.reply {
  max-width: 730px;
  margin: auto;
  background-color: var(--white);
  display: flex;
  gap: 24px;
}

ul.replies {
  max-width: 685px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-left: 2px solid var(--light-gray);
}

ul.replies li {
  margin-left: 43px;
  min-width: 97%;
}

.vote-container {
  background-color: var(--very-light-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 40px;
  height: 100px;
  align-self: center;
  padding: 12px 5px 16px 5px;
  margin-bottom: auto;
}

.vote-icon {
  width: 10px;
}

.vote-icon:active {
  filter: brightness(0) saturate(100%) invert(30%) sepia(61%) saturate(896%)
    hue-rotate(206deg) brightness(98%) contrast(86%);
}

.votes {
  color: var(--moderate-blue);
  font-weight: var(--bold);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.username {
  margin: 0;
}

.avatar-sm {
  width: 32px;
  height: 32px;
}

.avatar-lg {
  width: 40px;
  height: 40px;
}

.created-at,
.content {
  color: var(--grayish-blue);
}

.content {
  margin: 0;
  line-height: 1.5;
}

.replying-to {
  color: var(--moderate-blue);
  font-weight: var(--bold);
}

.reply-btn {
  display: flex;
  gap: 8px;
  align-self: baseline;
  font-size: var(--paragraph);
  font-weight: var(--bold);
  color: var(--moderate-blue);
  padding: 8px;
}

.form-container {
  background-color: var(--white);
  max-width: 730px;
  margin: 10px auto;
}

.form-container .comment-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.form-container textarea {
  flex: 1;
  resize: none;
  padding: 12px 24px;
  font-size: var(--paragraph);
  color: var(--grayish-blue);
  border-color: var(--light-gray);
  border-radius: 8px;
  cursor: pointer;
}

.form-container textarea:focus {
  outline: none;
  border-color: var(--moderate-blue);
  caret-color: var(--moderate-blue);
}
